h2 {
  text-align: center;
}

.flexContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.box {
  display: flex;
  flex-direction: column;
}

#address {
  width: 200px;
}

.submitBox {
  display: flex;
  display: inline-block;
}

#skills {
  margin-left: 10px;
  width: 200px;
}

#finalSubmit {
  margin-left: 40%;
  margin-right: 40%;
}